@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lato:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


:root {
    --color-1: #000000;
    --color-2: #404040;
    --color-3: #e6e6e6;
    --color-4: #ffffff;
    --color-5: #ba2424;
    --color-6: #B2B2B2;


    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Cinzel', sans-serif;

    --white-space: 1rem;
}

p {
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 1.9
}


h1 {
    align-self: center;
    color: white;
    font-family: var(--secondary-font);
    font-weight: 500;
}

h2,
h5 {
    font-family: var(--secondary-font);
    color: var(--color-2);
    padding-bottom: 3vw;
    font-size: 3vw;
}

h3 {
    font-family: var(--primary-font);
    font-size: 1.4vw;
    text-transform: uppercase;
    color: #B2B2B2;
    font-weight: 300;
}

nav {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr;
    background: var(--color-2);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3vw;
    color: var(--color-4);

}

nav li {
    display: inline;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 1vw;
    color: var(--color-4);

}

nav a {
    text-decoration: none;
    color: var(--color-4);
}


.logo {
    width: 100%;
    height: auto;
    padding-left: 5vw;
    padding-top: 1vw;
}

.cart {
    width: 65%;
    height: auto;
    padding-top: 1vw;
}

.sticky_header {
    background: var(--color-5);
    color: var(--color-4);
    padding: 0.5vw;
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 1vw;
    display: flex;
    justify-content: space-around;
}

.sticky_header p {
    font-size: 1vw;
}

#sticky_offer {
    justify-content: center;
    margin: auto;
}

#free_shipping {
    margin-left: 7.3vw;
}

.trustpilot_stars {
    width: 30%;
}

.trustpilot {
    width: 30%;
}

.trustpilot_div {
    display: flex;
    max-width: 20vw;
    align-items: center;
    justify-content: space-around;
    margin-right: 2vw;

}

.trustpilot_div p {
    display: flex;
    padding-right: 1vw;
    font-size: 1.vw;
}


.header_video {
    height: auto;
    z-index: 0;
    position: relative;
}


.xmas_offer {
    position: relative;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}


.xmas_offer_background {
    height: auto;
    width: 100%;
    z-index: 0;
    background-size: cover;
    display: flex;

}

.wine_offer {
    position: absolute;
    height: auto;
    width: 20vw;
    top: -3.2vw;
    right: 20vw;
}

.xmas_text {
    position: absolute;
    top: 10vw;
    left: 15vw;
    text-align: center;
    width: 30vw;
}

.xmas_text h1 {
    font-family: var(--secondary-font);
    font-weight: 700;
    color: var(--color-4);
    font-size: 2.4vw;
    margin-bottom: 2vw;
}

.xmas_text h2 {
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--color-4);
    font-size: 2vw;
    margin-bottom: 4.5vw;
}

.xmas_text p {
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--color-4);
    font-size: 1.4vw;
    margin-bottom: 2vw;
}

button {
    border: none;
    border-radius: 0.3vw;
    background-color: var(--color-5);
    font-family: var(--primary-font);
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 1.3vw 2vw;
    width: fit-content;
    font-weight: 400;
    margin-top: 1.5vw;
}

button:hover {
    opacity: 0.8
}

.stay_connected button {
    padding-right: 4vw;
    padding-left: 4vw;
}

.xmas_text button {
    margin:0;
}

.why_moldova {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;

}

.moldova_map {
    height: auto;
    width: 40vw;
    grid-area: 1;
}

.why_moldova_text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}



.icons_overview {
    margin: 5vw;
}

.wrapper {
    padding: 5vw;
    background: var(--color-2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;


}

.icon {
    display: flex;
    height: auto;
    width: 7vw;
    margin: 0 auto;

}

.icon_text {
    text-align: center;
    color: var(--color-4);
    font-family: var(--primary-font);
    align-content: center;
    padding-top: 2vw;


}

.icon_title {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 2vw;
    /*    font-size: 1.5vw;*/
}

.icon_des {
    font-weight: 300;
        font-size: 1.2vw;
    color: var(--color-3);

}

.about_us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5vw;
    display: flex;
    grid-gap: 4vw;
}

.about_us_img {
    height: auto;
    width: 40vw;
    margin-left: 4vw;

}

.about_us_text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.our_treasure {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    grid-gap: 4vw;
    flex-direction: row-reverse;
    background: var(--color-3);
}

.our_treasure_img {
    height: auto;
    width: 48vw;
    margin-left: 4vw;
}

.our_treasure_text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 90%;
    margin-left: 5vw;
}



.winetastic_exp {
    text-align: center;
    margin-bottom: 5vw;
}

.winetastic_exp_text {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

.eventimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 3rem
}

.publiceventsimg {
    background-image: url(../images/photos/events/publicevents.png);
    background-size: cover;
    width: 25rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.privateeventsimg {
    background-image: url(../images/photos/events/private%20events.png);
    background-size: cover;
    width: 25rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.eventslink {
    text-decoration: none;
    color: var(--color-4);
}

footer {
    background-color: var(--color-2);
    padding-top: 0.1vw;
}

footer p {
    font-size: 1.1vw;
}

.footergrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 7vw;
    margin-top: 6vw;
    color: white;
    font-family: var(--primary-font);
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1vw;
    font-weight: 300;
    line-height: 1.6;

}

.logowhite {
    height: auto;
    width: 13vw;
}

.ftitle_style {
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--color-5);
    margin-bottom: 0.4vw;
    font-size: 1.3vw;
}

.copyright {
    text-align: center;
    margin-top: 3vw;
    font-family: var(--primary-font);
    font-size: 1vw;
    font-weight: 300;
    color: white;
    background-color: var(--color-2);
    padding-bottom: 2vw;
}

.banner_homepage {
    display: none;
}

/* Media Queries */

@media only screen and (max-width: 500px) {

    .header_video {
        display: none;
    }

    .banner_homepage {
    background-image: url(../images/photos/homepage/bannerhomepage.png);
    background-size: contain;
    height: 48vw;
    width: 100vw;
    margin-bottom: 4vw;
    display: flex;
    justify-content: center;

}

    h3 {
        font-size: 2.5vw;
    }

    h2 {
        font-size: 4vw;
        margin-top: 1vw;
    }

    p {
        font-size: 3vw;
    }

    header nav {
        display: grid;
        grid-template-columns: 1fr;
    }


    header nav ul {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 2.3vw;
        margin-bottom: 1vw;

    }

    .logo {
        display: flex;
        width: 50%;
        height: auto;
        margin: 0 40% 0% 25%;
    }

    .cart {
        width: 5%;
        height: auto;
        padding-top: 1vw;
        position: relative;
        left: 47%;
    }

    .sticky_header {
        display: none;
    }


    .xmas_text button {
        font-size: 2vw;

    }

    .xmas_text {
        top: 3vw;
    }

    .xmas_text h2{
        margin-bottom: 1vw;
    }


    .xmas_text p {
        font-size: 2vw;
        margin-bottom: 1vw;
    }

    .why_moldova {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column-reverse;
    }

    .moldova_map {
        height: auto;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 4vw;

    }

    .why_moldova_text {
        text-align: center;
        display: flex;
        margin-top: 5vw;
    }



    .icon_des {
        display: none;
    }

    .icon {
        width: 10vw;
        text-align: center;
    }

    .wrapper {
        grid-gap: 1rem;
    }

    .icon_title {
        font-size: 2vw;
    }

    .about_us {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column-reverse;
        margin-top: 8vw;
    }

    .about_us_img {
        height: auto;
        width: 80vw;
        margin: 0;
        margin-top: 6vw;
        margin-left: 5vw;
    }

    .about_us_text {
        text-align: center;
    }

    button {
        align-self: center;
        font-size: 2.3vw;
        width: 30vw;
        padding: 2.5vw;
        margin-top: 1vw;
    }

    .our_treasure {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column-reverse;
        margin-top: 8vw;
        text-align: center;
        padding-top: 3vw;
    }


    .img_treasure_back {
        background: white;
    }

    .our_treasure_img {
        height: auto;
        width: 80vw;
        margin: 0;
        margin-top: 6vw;
        margin-left: 5vw;
    }


    .eventimages {
        display: flex;
        flex-wrap: nowrap;
        padding-top: 2vw;
    }

    .publiceventsimg {
        width: 10rem;
        height: 10rem;
    }

    .privateeventsimg {
        width: 10rem;
        height: 10rem;
    }

    .eventimages button {
        font-size: 2vw;
    }


    .our_partners {
        display: none;
    }

    .footergrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1.2fr 1fr;
        font-size: 3vw;
        font-weight: 300;
        line-height: 1.6;
        margin-bottom: 6vw;
    }

    .footergrid p {
        font-size: 1.8vw;
    }

    .logowhite {
        width: 30vw;
    }

    .footer_3 {
        display: none;
    }

    .ftitle_style {
        font-size: 4vw;
    }

    .copyright {
        font-size: 1.5vw;
    }

}
