@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lato:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


:root {
    --color-1: #000000;
    --color-2: #404040;
    --color-3: #e6e6e6;
    --color-4: #ffffff;
    --color-5: #ba2424;
    --color-6: #E5D290;
    --color-7: #D3999F;


    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Cinzel', sans-serif;

    --white-space: 1rem;
}


body {
    margin: 0;
    padding: 0;
}


/* NAV STYLING */

nav {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr;
    background: var(--color-2);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3vw;
    color: var(--color-4);

}

nav li {
    display: inline;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 1vw;
    color: var(--color-4);

}

nav a {
    text-decoration: none;
    color: var(--color-4);
}

.logo {
    width: 100%;
    height: auto;
    padding-left: 5vw;
    padding-top: 1vw;
}


/* TEXT STYLING */

p {
    font-family: var(--primary-font);
    font-weight: 300;
}


h1{
    align-self: center;
    color: white;
    font-family: var(--secondary-font);
    font-weight: 500;
}

h2 {
    font-family: var(--secondary-font);
    padding-bottom: 3vw;
    font-size: 3vw;
}

h3 {
    font-family: var(--primary-font);
    text-transform: uppercase;
    color: #B2B2B2;
    font-weight: 300;
}

.intro {
    text-align: center;
    padding-bottom: 5vw;
    padding: 0vw 8vw 5vw 8vw;
}


/* IMAGE STYLING */

.bannerwineshop {
    background-image: url(../images/photos/wineshop/bgimage_wineshop.png);
    background-size: contain;
    height: 48vw;
    width: 100vw;
    margin-bottom: 4vw;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
}


/* FILTERS STYLING */

.filterwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0vw 25vw 2vw;
}

.allwines_filter, .white_filter, .red_filter, .rose_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allwines_filter{
    padding: 0vw 5vw;
    line-height: 2.5vw;
    text-align: center;
}

.filternav a {
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 1.3vw;
    font-weight: 300;
}

.whitefilter_dot, .redfilter_dot, .rosefilter_dot{
    height: 2vw;
    width: 2vw;
    border-radius: 2vw;
    margin-bottom: 0.8vw;
}

.whitefilter_dot {
    background-color: var(--color-6);
}

.redfilter_dot {
    background-color: var(--color-5);
}

.rosefilter_dot {
    background-color: var(--color-7);
}
